body {
  background-image: url('./images/background.gif');
  background-size: cover; /* Cover the entire viewport */
  background-position: 50% 30%;
  margin: 0;
  height: 100vh; /* Set the body height to 100% of the viewport height */
  font-family: fantasy;
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: rgb(255, 0, 0);
  font-size: 60px;
  margin: 0px;
}

h2{
  font-size: 35px;
  color: rgb(0, 208, 255);
  margin: 0px
}

h3 {
  margin: 0px;
}

p {
  font-size: 30px;
  margin: 5px;
  margin-bottom: 0px
}

.streak-header {
  display:flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.flashcard {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.75s, border-color 0.75s ease;
  transform-origin: center right;
  cursor: pointer;
  border: 2px solid rgb(221, 19, 19);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
  height: 375px;
  width: 700px;
  font-size: 30px;
  margin: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.flashcard.flipped {
  transform: rotateX(180deg);
  border-color: aqua;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front {
  background-color: transparent;
  color: red;
  z-index: 2; /* Ensure front side is on top */
}

.back {
  background-color: transparent;
  transform: rotateX(180deg);
  color: aqua;
  z-index: 1; /* Back side behind front side */
  display: none; /* Initially hide back side */
}

.flashcard.flipped .back {
  display: flex; /* Show back side when flipped */
}

.card-image {
  height: 300px;
  width: auto;
}

.card-container {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

button {
  width: 90px;
  height: auto;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
  border-color: lime;
  margin-right: 20px;
  margin-left: 20px;
}

.submit-button {
  width: auto;
  height: auto;
  border-color: purple;
  font-size: x-large;
}

button:hover {
  cursor: pointer;
}

.form-container {
  margin: 15px;
}

